:root {
  box-sizing: border-box;
}

.SearchBox {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.SearchInput {
  width: 800px;
  font-size: 24px;
}

.SubmitBtn {
  width: 75px;
  height: 56px;
  background-color: #ff8000;
  border: none;
  border-radius: 8px;
  color: #fff;
  margin-left: 16px;
  cursor: pointer;
}

.SubmitBtn:hover {
  background-color: #ff9933;
}

.ResultContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 2rem;
  grid-auto-rows: 350px;
  padding: 2rem;
}

.CatImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 0.3em;
  background-color: #e6e6e6;
}

.Divider {
  margin: 2rem 4rem;
  border: 0.5px solid #e6e6e6;
}

@media (max-width: 992px) {
  .ResultContainer {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  .ResultContainer {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }

  .SearchInput {
    width: 600px;
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .ResultContainer {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }

  .SearchInput {
    width: 300px;
    font-size: 14px;
  }
}
