:root {
  box-sizing: border-box;
  --color-dark: #262626;
  --color-light: #e6e6e6;
  --background-color: #e6e6e6;
  --text-color: #262626;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.SearchBar {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.SearchInput {
  width: 800px;
  font-size: 24px;
  border-radius: 8px;
  border: 1px solid #ff8000;
  color: var(--text-color);
  background-color: var(--background-color);
}

.SearchInput::placeholder {
  color: var(--text-color);
}

.RandomBtn {
  width: 75px;
  height: 56px;
  background-color: #ff8000;
  border: none;
  border-radius: 8px;
  color: var(--text-color);
  margin-left: 16px;
  cursor: pointer;
}

.SubmitBtn:hover {
  background-color: #ff9933;
}

.RecentKeywordContainer {
  display: flex;
  justify-content: left;
  padding: 0 8rem;
  margin-top: 1rem;
}

.RecentKeywordContainer .ButtonGroup {
  display: flex;
  align-items: center;
  margin-left: 16px;
}
.RecentKeywordContainer .ButtonGroup button {
  padding: 8px 24px;
  border-radius: 8px;
  border: 1px solid #ff9933;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0px 8px;
  cursor: pointer;
  font-size: 16px;
}

.RecentKeywordContainer .ButtonGroup button:hover {
  background-color: #ffb366;
  color: var(--text-color);
}

.ResultContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 2rem;
  grid-auto-rows: 350px;
  padding: 2rem;
}

.CatImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 0.3em;
  background-color: #e6e6e6;
}

.DialogContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.Dialog {
  animation: fadein 1s forwards;
  width: 500px;
  height: 500px;
  box-shadow: 8px 8px 4px #808080;
  border-radius: 8px;
  background-color: var(--background-color);
  padding: 8px;
}

.DialogTitle {
  display: "flex";
  justify-content: space-between;
}

.DialogContent {
  width: 100%;
  height: 100%;
  margin-top: 16px;
}

.DialogContent img {
  position: relative;
  width: 20em;
  height: 20em;
  object-fit: cover;
  left: 50%;
  transform: translate(-50%, 0%);
}

.DialogCloseBtn {
  color: #fff;
  width: 40px;

  border: none;
  border-radius: 4px;
  background-color: #ff8000;
}

.Loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75px;
  height: 75px;
  border: 5px solid #f2f2f2;
  border-radius: 100%;
  border-right-color: #a6a6a6;
  border-top-color: #a6a6a6;
  animation: spin 1s infinite linear;
}

.Divider {
  margin: 2rem 4rem;
  border: 0.5px solid var(--text-color);
}

@media (max-width: 992px) {
  .ResultContainer {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  .ResultContainer {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }

  .SearchInput {
    width: 600px;
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .ResultContainer {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }

  .SearchInput {
    width: 300px;
    font-size: 14px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 다크 모드 */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--color-dark);
    --text-color: var(--color-light);
  }
}

.dark-mode {
  --background-color: var(--color-dark);
  --text-color: var(--color-light);
}

.light-mode {
  --background-color: var(--color-light);
  --text-color: var(--color-dark);
}

.DarkModeBtn {
  padding: 8px 16px;
  border-radius: 8px;
  color: var(--background-color);
  background-color: var(--text-color);
}
